body{
    margin: 0;
    font-family: sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.left-login > h1{
    width: 30vw;
    color: #f477ff;
    font-size: 80px;
}

.main-login-image{
    
    width: 10vw;
    height: 10vh;
    border-radius: 20px;
    display: flex;

}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}

.card-login > h1{
    color: #f477ff;
    font-weight: 800;
    margin: 0;

}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffff;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #f0ffff94;

}

.btn-login{
    width: 100%;
    height: 13%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #f477ff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    transition: all 300ms ease-in-out;

}
.btn-login:hover {
    opacity: 50%;
    width: 102%;
    height: 14%;
}
